LT_SERVER_IP=10.12.2.78
LT_SERVER_PORT=8895
LT_SOURCE_IP=http://10.12.2.78:8895
LT_REPORT_IP=http://10.12.2.78:5730

LT_SYSTEM_DRIVE=F:
LT_PROJECT_PATH=F:/project/L-Tester
LT_DEVICE_URL=http://10.12.2.78:8000

LT_PLAYWRIGHT_RESULT_PATH=F:/project/L-Tester/media/playwright
LT_API_RESULT_PATH=F:/project/L-Tester/media/api
LT_MITMPROXY_FILE_PATH=F:/project/L-Tester/media/mitmproxy_file
LT_MITMPROXY_CONFIG_PATH=F:/project/L-Tester/views/app_mitmproxy/mitmproxy_config.py
LT_MITMPROXY_YAML_PATH=F:/project/L-Tester/views/app_mitmproxy/mitmproxy_config_file.yaml

LT_DB_HOST=localhost
LT_DB_PORT=3306
LT_DB_NAME=fastapi
LT_DB_USER=xxx
LT_DB_PASSWORD=xxx

# Reserved for the upcoming AI mode switch.
LT_AI_MODE=none
LT_AI_LOCAL_BASE_URL=http://127.0.0.1:11434/v1
LT_AI_LOCAL_MODEL=
LT_AI_REMOTE_BASE_URL=https://api.openai.com/v1
LT_AI_REMOTE_MODEL=
LT_AI_API_KEY=
